<p>
  admin-transaction-history works!
</p>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css">
<body>
  <ion-app>
    <ion-content>
          <!-- Header -->
          <div class="header">
            <div>
                <h2>Transaction History</h2>
                <p></p>
            </div>
            <ion-icon name="notifications" (click)="goToNotification()"></ion-icon>
        </div>


               <!-- Recent Transactions -->
<div class="section-container recent-transactions">
    <ion-list>
       
        <!-- Transactions for March 20, 2025 -->
        <div class="transaction-date">March 20, 2025</div>
        <ion-item class="transaction-item">
            <ion-icon name="storefront-outline" slot="start"></ion-icon>
            <ion-label>
                <h2 class="store-name">ABC Store</h2>
                <p class="transaction-details">Store</p>
            </ion-label>
            <div class="transaction-price">- PHP 200</div>
        </ion-item>
        <ion-item class="transaction-item">
            <ion-icon name="storefront-outline" slot="start"></ion-icon>
            <ion-label>
                <h2 class="store-name">ABC Store</h2>
                <p class="transaction-details">Store</p>
            </ion-label>
            <div class="transaction-price">- PHP 200</div>
        </ion-item>

        <!-- Transactions for March 19, 2025 -->
        <div class="transaction-date">March 19, 2025</div>
        <ion-item class="transaction-item">
            <ion-icon name="fast-food-outline" slot="start"></ion-icon>
            <ion-label>
                <h2 class="store-name">XYZ Canteen</h2>
                <p class="transaction-details">Canteen</p>
            </ion-label>
            <div class="transaction-price">- PHP 150</div>
        </ion-item>
        <ion-item class="transaction-item">
            <ion-icon name="fast-food-outline" slot="start"></ion-icon>
            <ion-label>
                <h2 class="store-name">XYZ Canteen</h2>
                <p class="transaction-details">Canteen</p>
            </ion-label>
            <div class="transaction-price">- PHP 150</div>
        </ion-item>
    </ion-list>
</div>



    </ion-content>

      <!-- Employee Navigation -->
      <app-admin-navbar></app-admin-navbar>




</ion-app>
</body>