/* Global Styles */
* {
   
}

body {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: #ffffff !important; /* Override dark mode background */
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: 10px 15px;
    background: #2B2B2B;
}

.header h2 {
    font-size: 1rem;
    color: #F7BC00;
    margin: 0;
}

.header p {
    font-size: 0.7rem;
    color: white;
    opacity: 60%;
    margin: 0;
}

.header ion-icon {
    font-size: 1.5rem;
    color: #F7BC00;
}

/* Section Containers: Separate colored divs with padding and spacing */
.section-container {
    margin: 15px auto;
    padding: 15px;
    width: 90%; /* Keeps sections smaller than full width */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Transaction Area */
.transactions-container {
    background-color: #2B2B2B;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin-top: 15px auto;
}

/* Date Separator */
.transaction-date {
    font-weight: 600;
    font-size: 0.9rem;
    color: #ffffff;
    margin: 16px 0 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #EAEAEA;
}

/* Transaction Item */
.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border-radius: 8px;
    background: #2B2B2B;
    margin: 6px 0;
    transition: background 0.2s ease-in-out;
}

/* Hover Effect for Interaction */
.transaction-item:hover {
    background: #F7F7F7;
}

/* Transaction Info */
.transaction-info h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.transaction-info p {
    margin: 0;
    font-size: 0.85rem;
    color: #888;
}

/* Transaction Price */
.transaction-price {
    font-size: 1rem;
    font-weight: 600;
    color: #F7BC00;
}



/* Floating QR Button */
.fab-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
    z-index: 1;
}

.fab-button {
    position: relative;
}

ion-fab-button {
    --background: #F7BC00;
    --background-hover: #e0a900; /* Optional: Hover effect */
    --background-activated: #c99400; /* Optional: Click effect */
    --border-radius: 50%;
    --border-width: 3px;
    --border-style: solid;
    --border-color: white;
}


/* Bottom Navigation */
ion-tab-bar {
    position: relative;
    z-index: 0;
}



