<body>
  <div class="container">
    <h3 style="color: black; text-align: center;">Registration Options</h3>
    <div class="register-button" (click)="goToRegister('admin')">
        <div class="icon-placeholder">🔑</div>
        <div class="text-content">
          <h3>Register as Administrator</h3>
          <p>Manage and export summaries by employee, category, or kiosk location.</p>
        </div>
      </div>
      
      <div class="register-button" (click)="goToRegister('employee')">
        <div class="icon-placeholder">👤</div>
        <div class="text-content">
          <h3>Register as Employee</h3>
          <p>Employee Wallet with secure QR codes, balance updates, and transaction filters.</p>
        </div>
      </div>
      
      <div class="register-button" (click)="goToRegister('kiosk')">
        <div class="icon-placeholder">🏪</div>
        <div class="text-content">
          <h3>Register as Kiosk</h3>
          <p>Set prices, scan QR codes, and streamline transactions with ease.</p>
        </div>
      </div>      
  </div>
</body>