<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css">

<body>
    <ion-app>
        <ion-content>
            <!-- Header -->
            <div class="header">
                <div *ngIf="user">
                    <h2>Hi {{ user.firstName }} {{ user.lastName }}!</h2>
                    <p>{{ user.email }}</p>
                </div> 
                <ion-icon name="notifications"></ion-icon>
            </div>

            <!-- Available Balance -->
            <div class="section-container balance-container" *ngIf="balance !== null">
                <h3>Available Balance</h3>
                <h1>₱ {{ balance | number:'1.2-2' }}</h1>
            </div>

          <!-- Recent Transactions -->
          <div class="section-container recent-transactions" *ngIf="recentTransactions.length">
            <ion-list>
              <ion-list-header>
                <h3>Recent Transactions</h3>
              </ion-list-header>
              <ion-item class="transaction-item" *ngFor="let tx of recentTransactions">
                <ion-icon [name]="tx.icon || 'card-outline'" slot="start"></ion-icon>
                <ion-label>
                  <h2 class="store-name">{{ tx.kioskName }}</h2>
                  <p class="transaction-details">{{ tx.category }} | {{ tx.createdDate | date }}</p>
                </ion-label>
                <div class="transaction-price">
                  {{ tx.type === 'credit' ? '+' : '-' }} PHP {{ tx.amount }}
                </div>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
        <!-- Employee Navigation -->
        <app-employee-navbar></app-employee-navbar>
     
    </ion-app>
</body>