/* Global Styles */
* {
   
}

body {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: #F7BC00 !important; /* Override dark mode background */
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: 10px 15px;
    background: #2B2B2B;
}

.header h2 {
    font-size: 1rem;
    color: #F7BC00;
    margin: 0;
}

.header p {
    font-size: 0.7rem;
    color: white;
    opacity: 60%;
    margin: 0;
}

.header ion-icon {
    font-size: 1.5rem;
    color: #F7BC00;
}

.back-icon {
    font-size: 1rem;
    color: #F7BC00;
    cursor: pointer;
}

.notif-icon {
    opacity: 0%;
}

/* Section Containers: Separate colored divs with padding and spacing */
.section-container {
    margin: 15px auto;
    padding: 15px;
    width: 90%; /* Keeps sections smaller than full width */
    border-radius: 10px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }