<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css">
<body>
  <ion-app>
    <ion-content>
        <!-- Header -->
        <div class="header">
          <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
            <div>
                <h2>Receipt</h2>
                <p></p>
            </div>
            <ion-icon name="notifications" size="large" class="notif-icon"></ion-icon>
        </div>


        <!-- Receipt -->
<div class="receipt-container">
  <ion-icon name="storefront-outline" class="store-icon"></ion-icon>
  <div class="store-name">ABC Canteen</div>
  <p class="transaction-info">Successfully Paid</p>
  <div class="divider"></div>
  <p class="amount">₱150.00</p>

  <div class="transaction-detail">
      <span>Transaction #</span>
      <span>1234567890</span>
  </div>

  <div class="transaction-detail">
      <span>Date</span>
      <span>March 20, 2025</span>
  </div>

  <div class="transaction-detail">
    <span>Time</span>
    <span>10:30 AM</span>
</div>

  <div class="divider"></div>
  <p class="footer">Thank you for your payment!</p>
</div>




    </ion-content>


</ion-app>
  
</body>