<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css">
<body>
  <ion-app>
    <ion-content>
          <!-- Header -->
          <div class="header">
            <div>
                <h2>Balance Management</h2>
                <p></p>
            </div>
            <ion-icon name="notifications"></ion-icon>
        </div>

         <!-- Available Balance -->
         <div class="section-container balance-container">
            <h3>Available Reset</h3>
            <h1>₱ 5,000.00</h1>
        </div>

         <!-- Bonus Allowance Form -->
         <div class="section-container form-container">
            <h3>Bonus Allowance</h3>
            <ion-list>
                <ion-item>
                    <ion-label position="stacked">Employee Name</ion-label>
                    <ion-input type="text" id="employeeName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Employee ID</ion-label>
                    <ion-input type="text" id="employeeID"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Set Amount</ion-label>
                    <ion-input type="number" id="setAmount"></ion-input>
                </ion-item>
            </ion-list>
            <ion-button expand="full" onclick="transferBonus()">Transfer</ion-button>
            <p id="successMessage" class="success-message" hidden>Transfer completed successfully!</p>
        </div>

     
    </ion-content>

    <!-- Employee Navigation -->
    <app-admin-navbar></app-admin-navbar>



</ion-app>

<script>
    function transferBonus() {
        document.getElementById("successMessage").hidden = false;
        setTimeout(() => {
            document.getElementById("successMessage").hidden = true;
        }, 3000);
    }
  </script>
  
</body>