* {
   
}

body {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: #ffffff !important; /* Override dark mode background */
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: 10px 15px;
    background: #2B2B2B;
}

.header h2 {
    font-size: 1rem;
    color: #F7BC00;
    margin: 0;
}

.header p {
    font-size: 0.7rem;
    color: white;
    opacity: 60%;
    margin: 0;
}

.header ion-icon {
    font-size: 1.5rem;
    color: #F7BC00;
}

/* Section Containers: Separate colored divs with padding and spacing */
.section-container {
    margin: 15px auto;
    padding: 15px;
    width: 90%; /* Keeps sections smaller than full width */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Balance Container */
.balance-container {
    background: #2B2B2B;
    text-align: center;
}

.balance-container h3 {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
}

.balance-container h1 {
    font-size: 2.5rem;
    color: #F7BC00;
    margin-top: 0px;
}


/* Bonus Allowance */
.form-container {
    background: #2B2B2B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto; /* Centers the form */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-list {
    width: 100%; /* Ensures full width */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds space between ion-items */
    background-color: #2B2B2B;
}

ion-item {
    --background: transparent;
    --border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  
}

ion-label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px !important;
}

ion-input {
    --background: white;
    --border-radius: 8px;
    --padding-start: 10px;
    --padding-end: 10px;
    --height: 45px;
    width: 100%;
    border: 0px solid #ccc;
    color: black;
}

ion-button {
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    --background: #F7BC00;
}




